<!DOCTYPE HTML>
<html>
<head>
    <title>Garoon Notify</title>
    <script type="text/javascript" charset="utf-8" src="../libs/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../libs/jquery.xml2json.js"></script>
    <script type="text/javascript" charset="utf-8" src="../libs/underscore-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../libs/backbone-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../init.js"></script>
    <script type="text/javascript" charset="utf-8" src="../models/storage.js"></script>
    <script type="text/javascript" charset="utf-8" src="../models/schedule.js"></script>
    <script type="text/javascript" charset="utf-8" src="../collections/schedule.js"></script>
    <script type="text/javascript" charset="utf-8" src="form.js"></script>
</head>
<body>
    <div>
        <form id="form">
            garoon domain: <input type="text" name="domain" class="text">
            Login name: <input type="text" name="username" class="text">
            Password: <input type="password" name="password" class="text">
            <input type="button" value="save">
            <span class="result"></span>
        </form>
    </div>
</body>
</html>
